.ez5-custom-data-type-gnd .cui-horizontal-layout-center {
    justify-content: center;
    padding-left: 0px;
}

 .commonPlugin_Popover {
     min-width:600px !important;
     min-height: 200px !important;
}

.commonPlugin_Popover .cdtFormWithPadding {
  padding: 10px;
}

 .commonPlugin_Input {
     max-width: 100%;
}
 .commonPlugin_Input .cui-input {
     max-width: 50%;
}

.customDataTypeCommonsMenu .cui-menu-item {
  max-width: none !important;
}


/* easydb5 */

.cui-input.pluginDirectSelectEditInput input {
	border-radius: 4px 0px 0px 4px;
}

.cui-button.pluginDirectSelectEditSearch {
	margin-left: -1px;
	background-color: white;
}

.cui-button.pluginDirectSelectEditSearch .cui-button-visual {
	border-radius: 0px 4px 4px 0px;
}

/* fylr */

.cui-input.pluginDirectSelectEditSearchFylr input {
	border-radius: 0 !important;
}

.cui-button.pluginDirectSelectEditSearchFylr {
	margin-left: -1px;
	background-color: white;
}

.cui-button.pluginDirectSelectEditSearchFylr .cui-button-visual {
  border-radius: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-left: 1px solid #ededed !important;
  margin-left: 1px;
}
